#terms-conditions {
    display: none;
}

.form-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-container h2 {
    margin-bottom: 20px;
}

.form-row {
    margin-bottom: 10px;
}

.form-row label {
    display: block;
    margin-bottom: 5px;
}

.form-row input[type="url"],
.form-row input[type="text"],
.form-row textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

.form-row textarea {
    resize: vertical; /* Allow vertical resizing */
}

.form-row input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-row input[type="submit"]:hover {
    background-color: #0056b3;
}
